<div class="container-fluid">
    <h5>{{ response }}</h5>
    <h1>Create a new account</h1>
    <form #userSignupForm = "ngForm" novalidate (ngSubmit)="onSubmit()"> 

        <div class="form-group">
            <label>Email</label>
            <input required type="email" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{3,}$" [class.is-invalid]="email.invalid && email.touched" #email="ngModel" name="email" class="form-control" [(ngModel)]='scrumUserModel.email'>
            <div *ngIf="email.errors && (email.invalid || email.touched)">
                <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">A valid Email is required</small>
            </div>
        </div> 

        <div class="form-group"> 
            <label>Full name</label>
            <input required type="text" [class.is-invalid]="fullname.invalid && fullname.touched" #fullname="ngModel" name="fullname" class="form-control" [(ngModel)]='scrumUserModel.fullname'>
            <div *ngIf="fullname.errors && (fullname.invalid || fullname.touched)">
                <small class="text-danger" *ngIf="fullname.errors.required">Your name is required</small>
            </div>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input required type="password" pattern="^(?=.*[!@#$%^&*?/-])(?=.*[0-9]).{8,}$"  #password="ngModel" [class.is-invalid]="password.invalid && password.touched" name="password" class="form-control" [(ngModel)]='scrumUserModel.password'>
            <div *ngIf="password.errors && (password.invalid || password.touched)">
                <small class="text-danger" *ngIf="password.errors.required">Password is required</small>
                <small class="text-danger" *ngIf="password.errors.pattern">Password must contain a number and any special character</small>
            </div>
        </div>

        <div class="form-group">
            <label>User type</label>
            <select class="custom-select" [class.is-invalid]="projectname.invalid && projectname.touched" #projectname="ngModel" name="projectname" class="form-control" [(ngModel)]='scrumUserModel.projectname'>
                <option value=''></option>
                <option *ngFor="let eachElement of usertype">{{ eachElement }}</option>
            </select>            
        </div>
        <button [disabled] = "userSignupForm.invalid" class="btn btn-primary" type="submit">Create user</button>
    </form>

</div>
