<div class="container-fluid">
    <h1>Login</h1>
    <h5>{{ feedbk }}</h5>
    <form (ngSubmit)="onLoginSubmit()">

        <div class="form-group">
            <label>Email</label>
            <input required type="email" name="email" class="form-control" [(ngModel)]="scrumUserLoginData.email">
        </div>

        <div class="form-group">
            <label>Password</label>
            <input required type="password" name="password" class="form-control" [(ngModel)]="scrumUserLoginData.password">
        </div>

        
        <div class="form-group">
            <label>Project name</label>
            <input required type="text" name="projname" class="form-control" [(ngModel)]="scrumUserLoginData.projname">
        </div>

        <button class="btn btn-primary" type="submit">Login</button>

    </form>

</div>